name: Test and Generate Report

on: [ push ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup Node.js environment
        uses: actions/setup-node@v2
        with:
          node-version: '18.x'

      - name: Install dependencies and build project
        run: |
          npm install
          npm ci
          npm run build

      - name: Run Lighthouse tests
        run: |
          npx playwright test --headed --timeout=30000 --output=test-results/ http://localhost:3000/ --grep='lighthouse'

      - name: Run Artillery tests
        run: |
          npx artillery run artillery.yaml -e test

      - name: Generate Lighthouse Report
        run: |
          npx lighthouse-batch test-results/**/*.html --chrome-flags='--disable-gpu' --video --screenshots --asset-path='test-results/'

      - name: Upload test results
        uses: actions/upload-artifact@v2
        with:
          name: lighthouse-results
          path: test-report.html
